<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인 페이지</title>
    <th:block th:replace="fragments/commonHead"></th:block>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>Login Page</h1>
        <br><br>
        <a th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${app_key},redirect_uri=${redirect_uri},response_type=${response_type})}">
            <img src="resources/images/kakao_login_btn_large_narrow.png" alt="카카오로그인"/>
        </a>
        <br><br><br><br><br><br><br><br>
    </div>

    <th:block th:replace="fragments/copyright"></th:block>

</div>

<th:block th:replace="fragments/scripts"></th:block>

</body>
</html>